@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: #ffff;
}
.contenedor {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
}

@media (max-width: 1440px) {
  .tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 384px;
    height: auto;
    border-radius: 8px;
    padding: 8px;
    background-color: #1f1f1f;
  }

  /*FOTO DE LA PERSONA*/

  .avatarimg {
    width: 152px;
    border-radius: 50%;
  }

  /*INFORMACION DE LA PERSONA*/

  .infoGeneral {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 14px;
  }
  .nombre {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 8px;
    font-weight: 400;
  }
  .lugarOrigen {
    margin: 0;
    padding-bottom: 16px;
    color: hsl(75, 94%, 57%);
    font-weight: 600;
  }

  .puestoDescripcion {
    font-weight: 400;
  }

  /*REDES SOCIALES*/

  .links {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  .github {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    width: 304px;
    height: 46px;
    border-radius: 8px;
    background-color: #333333;
    margin-bottom: 16px;
  }

  .frontend-mentor {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    width: 304px;
    height: 46px;
    border-radius: 8px;
    background-color: #333333;
    margin-bottom: 16px;
  }

  .linkedln {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    width: 304px;
    height: 46px;
    border-radius: 8px;
    background-color: #333333;
    margin-bottom: 16px;
  }

  .twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    width: 304px;
    height: 46px;
    border-radius: 8px;
    background-color: #333333;
    margin-bottom: 16px;
  }

  .instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    width: 304px;
    height: 46px;
    border-radius: 8px;
    background-color: #333333;
  }

  /*ESTATUS: ACTIVO*/

  .github:active {
    background-color: hsl(75, 94%, 57%);
    color: #141414;
  }

  /*ESTATUS: HOVER*/

  .github:hover {
    background-color: hsl(75, 94%, 57%);
    color: #141414;
  }
}

@media (max-width: 375px) {
  .tarjeta {
    width: 326px;
  }
  .github {
    width: 276px;
  }
  .frontend-mentor {
    width: 276px;
  }
  .linkedln {
    width: 276px;
  }
  .twitter {
    width: 276px;
  }
  .instagram {
    width: 276px;
  }
}